.wrapper{
    background: url('../../assets/hero-wallpaper.png') 50% 0;
    height: 710px;
    overflow-x: hidden;
}
.card{
    margin: 120px 8% 0 8%;
    height: 100%;
    display: flex;
    flexDirection: column;
}