.wrapper{
    padding: 0 2%;
}
.card{
    margin: 18% 2% 0 2%;
    display: flex;
    flex-direction: column;
}
.content-grid{
    padding: 0 20px !important;
}
/*TODO fix DRY*/
.premier_league{
    background: url('../../assets/league_logos/premier_league.png') 45% 0;
    height: 45px;
    width: 45px;
}
.serie_a{
    background: url('../../assets/league_logos/serie_a.png') 45% 0;
    height: 45px;
    width: 45px;
}
.la_liga{
    background: url('../../assets/league_logos/la_liga.png') 45% 0;
    height: 45px;
    width: 45px;
}
.bundesliga{
    background: url('../../assets/league_logos/bundesliga.png') 45% 0;
    height: 45px;
    width: 45px;
}
.card-title{
    display: flex;
    height: 45px;
    line-height: 45px;
    padding-right: 40px;
    margin: 0;
}
.league-name{
    font-size: 22px;
    margin: 0 auto;
    font-weight: bold;
}